body {
    margin: 20px;
    font-family: Courier, Lucida, Bradley Hand, Luminari, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #7f95d1;
    color: #FFC0BE;
    border-bottom: 6px solid #FF82A9;
}

.border-blue {
    border: 1px dotted blue;
}
